name: test

on:
  workflow_dispatch:
  push:
    branches:  # ignore pushed tags
      - "*"
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

permissions:
  contents: read
  pull-requests: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: 'pip'

      - name: Build and install package
        run: |
          python -m pip install -U pip
          python -m pip install .[dev]
          make
          python -m pip install --force-reinstall dist/*.whl

      - name: Run tests
        run: make test
        env:
          PYTHONOPTIMIZE: 1
          PYTHONWARNINGS: default

      - uses: actions/upload-artifact@v6
        with:
          if-no-files-found: error
          name: dist
          path: dist
